*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #014335;
    color: white;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1px solid transparent;
    padding: .5rem;
    border-radius: .2rem;
}

.border:hover{
    border-color: white;
}


/** box2 **/
.nav-address{
    font-size: 14px;
}
.add-first{
    color: rgb(198,191,180);
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-secound{
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** box3 **/

.nav-search{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border: none;
    font-size: 1rem;
}

.search-input{
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding-left: 5px;
}

.search-icon{
    display: flex;
    width: 50px;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #7f1153;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}   

/** box4 **/
.nav-flag{
    display: flex;
    align-items: center;
    text-align: center;
}

.flag-text{
    padding-left: .3rem;
    font-size:1.3rem;
    font-weight: 500;
}

/**box5**/
.nav-secound{
    font-size: 1.2rem;
    font-weight: 700;
}

/** box7 **/
.nav-cart{
    font-size: 2.33rem;
}

/**Panel**/
.panel{
    display: flex;
    background-color: #085749;
    font-size: 1.2rem;
    font-weight: 200;
    height: 40px;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}

.panel-option{
    display: flex;
    width: 90%;
}

.panel-option p {
    margin-right: 20px;
}

/** hero-section**/

.hero-section{
    display: flex;
    background-image: url(./images/hero_image.jpg);
    height: 300px;
    background-size: cover;
    justify-content: center;
    align-items: end;
}

.hero-section p{
    display: flex;
    width: 95%;
    height: 40px;
    background-color: #fff;
    color: black;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.hero-section a{
    color: #007185;
}

/** shop-section **/

.shop-section{
    display: flex;
    flex-wrap:wrap;
    background-color: #E3E6E6;
    height: 800px;
    justify-content: space-evenly;
}
.box{
    height: 400px;
    width: 22%;
    background-color: #fff;
    padding: 1rem;
}

.box-img{
    height: 300px;
    background-size: contain;
    margin: 1rem 0;
}

.box-content p{
    color: #007185;
}

/**rhf-container**/
.rhf-container{
    height: 150px;
    width: 100%;
    background-color: #fff;
    border: .5px solid #E3E6E6;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #000000;
}

.rhf-container h2{
    font-size: 2rem;
}

.rhf-container button{
    background-color:#efc446 ;
    font-size: large;
    font-weight: 500;
    border: 1px solid #efc446;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: .5rem 6rem;
    margin-top: 1rem;
    margin-bottom: .5rem
}

.rhf-container a{
    color: #007185;
}
/** footer **/
.foot-panel1{
    display: flex;
    height: 40px;
    background-color:#485769 ;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    background-color: #232F3E;
    padding-top: 2rem;
    height: 300px;
}

.foot-panel2 h3{
    color: #ffffff;
}

.foot-panel2 a{
    display: block;
    color: #dddddd;
    padding-top: 1rem;
    font-size: 1.01rem;
}

.foot-panel2 a:hover{
    text-decoration: underline;
}

/** foot-panel3 **/
.foot-panel3{
    background-color: #232F3E;
    color: #ffffff;
    height: 70px;
    width: 100%;
    border: .5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.foot-panel3-logo{
    background-image: url(./images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

/** footPanel4 **/
.foot-panel4{
    display: flex;
    flex-direction: column;
    background-color: #131A22;
    height: 60px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.foot-panel4-list a{
    padding-left: 2rem;
}

.foot-panel4-list a:hover{
    text-decoration: underline;
}

.copyright{
    padding: .4rem 0;
}